<div class="ttp-container">
  <button type="button" class="open-track-widget ttp-open-button">Track This Product</button>
</div>

<div id="track-widget-template" class="ttp-hidden">
  <div class="ttp-modal-overlay">
    <div id="ttp-loading-spinner" class="ttp-spinner-overlay ttp-hidden">
      <div class="ttp-spinner"></div>
    </div>

    <div class="ttp-modal-box">
      <h2 class="ttp-modal-title">Track This Product</h2>
      <form id="track-form" class="ttp-form">
        <label class="ttp-checkbox-label">
          <input type="checkbox" name="trackInStock" class="ttp-checkbox"> Back in Stock
        </label>

        <label class="ttp-checkbox-label">
          <input type="checkbox" name="trackOnSale" class="ttp-checkbox"> On Sale
        </label>

        <div class="ttp-inline-group">
          <label class="ttp-checkbox-label">
            <input type="checkbox" name="trackBelowThreshold" class="ttp-checkbox"> Price below:
          </label>
          <input type="number" min="0" value="0" name="saleThreshold" pattern="[0-9]*" class="ttp-input-number">
        </div>

        <div class="ttp-inline-group">
          <label class="ttp-checkbox-label">
            <input type="checkbox" name="trackLowStock" class="ttp-checkbox"> Low Stock Alert:
          </label>
          <input type="number" min="0" value="0" name="lowStockLevel" pattern="[0-9]*" class="ttp-input-number">
        </div>

        <label class="ttp-checkbox-label">
          <input type="checkbox" name="trackNewVariant" class="ttp-checkbox"> New Variant
        </label>

        <input
          type="email"
          name="email"
          required
          value="{{ customer.email | default: '' }}"
          placeholder="Your email"
          class="ttp-input-email"
        >

        <input type="hidden" name="productId" value="{{ product.id }}">
        <input type="hidden" name="variantId" value="{{ product.selected_or_first_available_variant.id }}">
        <input type="hidden" name="userId" value="{{ customer.id | default: 'guest' }}">

        <div class="ttp-form-actions">
          <button type="button" class="cancel-track-widget ttp-cancel-button">Cancel</button>
          <button type="submit" class="ttp-submit-button">Track</button>
        </div>
      </form>
    </div>
  </div>
</div>
